<img src="images/Project_logos.png" width="500" height="300" align="center">

In [ ]:
%matplotlib inline

## Final Exercise
This exercise will require use of a variety of pandas functionality.

1) Load annual mean temperature data from tas_3locs.csv

2) Load annual total precipitation data from pr_3locs.csv

3) What year has the highest annual mean temperature in Cape Town?

4a) What are the lowest 3 annual total precipitation values?

4b) Where and when?

4c) What are the annual mean temperatures at those locations in those years?

5) What is the 1991-2020 climatological mean annual mean temperature and annual total precipitation for each location?

6a) Create a DataFrame of the relative precipitation anomalies from the 5-year moving average.

6b) Save this DataFrame to a csv file.

7) Plot scatter plots and calculate correlations between the annual mean temperature at the different locations.

8) Plot time series of T (each location on a different subplot).

9) Plot time series of T and P for Oxford (use a secondary y-axis).