<img src="images/Project_logos.png" width="500" height="300" align="center">

In [ ]:
%matplotlib inline

## Final Exercise Solution
This exercise requires use of a variety of pandas functionality.

1) Load annual mean temperature data from tas_3locs.csv

In [ ]:
import pandas as pd

tas_df = pd.read_csv('tas_3locs.csv', index_col=0)
print(tas_df)

2) Load annual total precipitation data from pr_3locs.csv

In [ ]:
pr_df = pd.read_csv('pr_3locs.csv', index_col=0)
print(pr_df)

3) What year has the highest annual mean temperature in Cape Town?

In [ ]:
tas_df['Cape Town'].idxmax()

4a) What are the lowest 3 annual total precipitation values?

In [ ]:
pr_df.nsmallest(3, pr_df.columns, keep='all')

This command has given us the rows of data with the smallest 3 annual total precipitation values (287mm, 295mm, 307mm).

4b) Where and when?

Cape Town - 1953, 1949, 1947

4c) What are the annual mean temperatures at those locations in those years?

In [ ]:
print(tas_df['Cape Town'].loc[1953])
print(tas_df['Cape Town'].loc[1949])
print(tas_df['Cape Town'].loc[1947])

5) What is the 1991-2020 climatological mean annual mean temperature and annual total precipitation for each location?

In [ ]:
print('Temperature')
print(tas_df.loc[1991:2020].mean())

print('Precipitation')
print(pr_df.loc[1991:2020].mean())

6a) Create a DataFrame of the relative precipitation anomalies from the 5-year moving average.

In [ ]:
pr_anom_df = 100.0 * (pr_df - pr_df.rolling(window=5, center=True).mean())/pr_df.rolling(window=3, center=True).mean()

print(pr_anom_df)

6b) Save this DataFrame to a csv file.

In [ ]:
pr_anom_df.to_csv('relative_pr_anom.csv')

7) Plot scatter plots and calculate correlations between the annual mean temperature at the different locations.

In [ ]:
import matplotlib.pyplot as plt

pd.plotting.scatter_matrix(tas_df)
plt.show()

In [ ]:
print(tas_df.corr())

The correlation between the annual mean temperature values are:

Cape Town and Oxford 0.370
Cape Town and Hyderabad 0.435
Oxford and Hyderabad 0.303

8) Plot time series of T (each location on a different subplot).

In [ ]:
tas_df.plot(subplots=True)
plt.show()

9) Plot time series of T and P for Oxford (use a secondary y-axis).

In [ ]:
result = pd.concat([tas_df, pr_df], keys=["Annual mean temperature", "Annual total precipitation"])
oxford_result = result['Oxford'].unstack().T

oxford_result["Annual mean temperature"].plot(style='k', ylabel="Annual mean temperature", label="Annual mean temperature", legend=True)
oxford_result["Annual total precipitation"].plot(style='b', secondary_y=True, ylabel="Annual total precipitation", label="Annual total precipitation", legend=True)
plt.show()